@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');
@import 'tailwindcss';

:root{
    --primary : #f17a31;
    --secondary : #1d3b60;
}
body{
    font-family: "Josefin Sans", sans-serif;
}

@media (max-width : 1224px){
    .navRightSide{
        display: none;
    }
    .navSearch{
        display: flex;
    }
}

